h1 Ayuda
div
    p Genexa es un sistema que ayuda a la creación de exámenes fácilmente sin la complejidad de una aplicación de escritorio o de un procesador de texto.<br />Genexa no tiene costo alguno y se puede aprender a utilizar inmediatamente.
h2 Instrucciones de uso
div(style='margin-top:5px', style='display:none')
    img(src='/img/help/header.png')
div(style='margin-top:15px')
    ul
        li Los campos "Nombre de la Institución", "Asignatura", "Maestro", "Periodo" son obligatorios, el "Nombre del Alumno" y "Grupo" se encuentran deshabilitados y se dejan en blanco para que el espacio sea agregado al exámen y la persona a la que se le aplica el exámen llene con su información personal.
        li Se permite agregar un logotipo agregando una imágen de tipo jpg o png con una resolución máxima de 210x112 pixéles.
        li El documento de exámen se puede generar con tan solo los campos obligatorios permitiendo al usuario generar un documento con tan solo la información de encabezado.
        li Las preguntas se pueden agregar sin límite. Sólo existen 3 tipos de preguntas que se pueden agregar "Abierta", "Opción Multiple", "Verdadero - Falso" y las instrucciones se agregan antes del area de preguntas.
        li "Abierta", al agregar este tipo de pregunta el sistema deja automáticamente espacio para la respuesta, por ahora solo permite un espacio reducidor para la respuesta.
        li "Opción Múltiple", este tipo de pregunta/enunciados solo permite agregar 4 opciones mínimo y 5 cómo máximo.
        li "Verdadero - Falso", en estas preguntas/enunciados se agrega las opciones de "Falso" y "Verdadero" automáticamente.
        li Para crear el documento una vez se haya agregado la información requerida se debe presionar el botón "Generar Exámen", el cual mostrará una caja de dialogo con la dirección del documento creado, la cual permite realizar ediciones poteriores y también muestra el botón "Descargar PDF" para visualizar el documento (si su navegador lo permite) o descargar el documento generado en formato PDF (Portable Document Format) que solo podrá ser visto utilizando una aplicación compatible con este formato. Se sugiere utilizar <a href="http://get.adobe.com/reader/" target="_blank">Adobe Reader</a>.
h3 Políticas de Privacidad
div
    p La información se almacenada no es compartida con externos a Genexa. Ninguna información personal es almacenada en la base de datos.
    p El documento es almacenado con una identificación única solo mostrada al creador del documento con el propósito de permitir la edición posterior a la creación del documento por parte del usuario. La seguridad de dicha liga creada especialmente para el usuario es responsabilidad del mismo y Genexa no se hace responsable por la distribución de la liga única del documento.
    p Toda la información almacenada en la base de datos creada por los usuarios es propiedad de Genexa y nos reservamos el derecho a hacer uso de dicha información con fines de calidad para mejoras del sistema.