!!! 5
html(lang='en')
    head
        meta(charset='utf-8')
        title= title
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/style.css')
        // if lt IE 9
            script(src='//html5shiv.googlecode.com/svn/trunk/html5.js')
            style(type='text/css')
                article, aside, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }
    body
        div.container
            != body
        script(src='//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
        script window.jQuery || document.write('<script src="js/libs/jquery-1.7.1.min.js"><\\/script>')
        script(src='/js/script.js')