div.thanks
    h1 Gracias por ayudarnos a pasar nuestra materia.
    h3 El sistema Genexa ha sido deshabilitado, en caso de estar interesado en adquirir el código o nuestros servicios, lo pueden hacer enviando un correo a&nbsp;
        a(href='mailto:abraham.estrada%40gmail.com?subject=Genexa', rel='nofollow') abraham
            span(style='display:none') no-spam
            span &#46;estrada&#64;
            span(style='display:none') no-spam
            span gmail
            span(style='display:none') no-spam
            span &#x2E;com