!!! 5
html.no-js(lang='en')
    head
        meta(charset='utf-8')
        title Upload
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/upload.css')
    body
        form(action='/upload', target='upload', method='post', enctype='multipart/form-data')
            img.thumbnail.logo(src='', title='Logo de la Institución')
            //input(name='logo', type='file')
            img.loader(src='/img/ajax-loader.gif', style='display:none')
        script var data = !{JSON.stringify(data)};