!!! 5
html.no-js(lang='en')
    head
        meta(charset='utf-8')
        title Upload
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/upload.css')
    body
        img.thumbnail.logo(src='http://dummyimage.com/210x112/000/fff', title='Logo de la Institución')
        input.input-file(name='logo', type='file')